1) Requirements for protein fasta headers:

>any_name_of_contig_but_(gene number, only digitals)

2) For gff file:

Only first column is important, should contain only contig name, without gene number specification

3) For alignment file:

- No headers
- First column in format: any_name_of_contig_but_(gene number, only digitals)
- Second column should contain accession number in format: WP_003131952.1_and_here_can_be_anything
- Last column - bitscore


